h1 {
   color: #aaafcf;
    font-size: 200%;
    font-family: Arial, Verdana, sans-serif;
    text-align: center;
}

.content {
    align-content: center;
}

@font-face {
	font-family: "gui";
	font-style: normal;
	font-weight: 400;
	src: url("./Client/Assets/Fonts/gui.ftf");
}